Repository ramanbhandari/vamoose, pull requests merged in 2025-03, with the labels that each got.

#205 Update Readme
  frontend/README.md
Labels: documentation

#207 206 add sequence diagrams
  Documentation/SequenceDiagrams/expense_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/invite_api_sequence_diagram.pdf
  Documentation/SequenceDiagrams/member_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/trip_api_seq_diagram.pdf
  README.md
Labels: documentation

#204 199 - Implement Delete and Batch Delete for Members
  frontend/app/dashboard/actions.tsx
  frontend/app/login/AuthForm.tsx
  frontend/app/providers.tsx
  frontend/app/trips/[tripId]/sections/Expenses.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/MemberCard.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/index.tsx
  frontend/components/navbar/Navbar.tsx
  frontend/stores/trip-store.ts
  frontend/stores/user-store.ts
Labels: Feature - Group Expense Tracker, Presentation

#200 dev to uat
  Documentation/SequenceDiagrams/expense_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/invite_api_sequence_diagram.pdf
  Documentation/SequenceDiagrams/member_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/trip_api_seq_diagram.pdf
  Documentation/Test_Plan_Sprint_2.pdf
  README.md
  frontend/README.md
  frontend/app/dashboard/actions.tsx
  frontend/app/dashboard/messages.ts
  frontend/app/dashboard/page.tsx
  frontend/app/invite/[token]/InviteClientComponent.tsx
  frontend/app/invite/[token]/page.tsx
  frontend/app/layout.tsx
  frontend/app/login/AuthForm.tsx
  frontend/app/providers.tsx
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Expenses.tsx
  frontend/app/trips/[tripId]/sections/Overview.tsx
  frontend/app/trips/[tripId]/sections/Overview/ExpensesSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/JourneyEssentials.tsx
  frontend/app/trips/[tripId]/sections/Overview/PollsSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/TravelSquad.tsx
  frontend/app/trips/[tripId]/sections/Overview/TripHeader.tsx
  frontend/app/trips/[tripId]/sections/Overview/index.tsx
  frontend/app/trips/[tripId]/sections/Overview/styled.ts
  frontend/app/trips/[tripId]/sections/TripMembers.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/MemberCard.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/index.tsx
  frontend/components/TripCard.tsx
  frontend/components/navbar/Navbar.tsx
  frontend/stores/trip-store.ts
  frontend/stores/user-store.ts
  frontend/tsconfig.json
  frontend/types/index.ts
  frontend/utils/dateFormatter.ts
  frontend/utils/userHelper.ts
  server/README.md
  server/prisma/schema.prisma
  server/src/controllers/trip.controller.ts
  server/src/middleware/expense.validators.ts
  server/src/middleware/trip.validators.ts
Labels: dev-to-uat

#208 Merge UAT to MAIN
  Documentation/SequenceDiagrams/expense_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/invite_api_sequence_diagram.pdf
  Documentation/SequenceDiagrams/member_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/trip_api_seq_diagram.pdf
  Documentation/Test_Plan_Sprint_2.pdf
  README.md
  frontend/README.md
  frontend/app/dashboard/actions.tsx
  frontend/app/dashboard/messages.ts
  frontend/app/dashboard/page.tsx
  frontend/app/invite/[token]/InviteClientComponent.tsx
  frontend/app/invite/[token]/page.tsx
  frontend/app/layout.tsx
  frontend/app/login/AuthForm.tsx
  frontend/app/providers.tsx
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Expenses.tsx
  frontend/app/trips/[tripId]/sections/Overview.tsx
  frontend/app/trips/[tripId]/sections/Overview/ExpensesSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/JourneyEssentials.tsx
  frontend/app/trips/[tripId]/sections/Overview/PollsSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/TravelSquad.tsx
  frontend/app/trips/[tripId]/sections/Overview/TripHeader.tsx
  frontend/app/trips/[tripId]/sections/Overview/index.tsx
  frontend/app/trips/[tripId]/sections/Overview/styled.ts
  frontend/app/trips/[tripId]/sections/TripMembers.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/MemberCard.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/index.tsx
  frontend/components/TripCard.tsx
  frontend/components/navbar/Navbar.tsx
  frontend/stores/trip-store.ts
  frontend/stores/user-store.ts
  frontend/tsconfig.json
  frontend/types/index.ts
  frontend/utils/dateFormatter.ts
  frontend/utils/userHelper.ts
  server/README.md
  server/prisma/schema.prisma
  server/src/controllers/trip.controller.ts
  server/src/middleware/expense.validators.ts
  server/src/middleware/trip.validators.ts
Labels: UAT-to-MAIN

#221 allow admin to edit the trip
  frontend/app/trips/[tripId]/sections/Overview/TripHeader.tsx
  frontend/components/TripCard.tsx
  server/README.md
  server/src/models/trip.model.ts
Labels: enhancement, Feature - Trip Dashboard

#220 214 - CI/CD updates/enhancements
  .github/workflows/ci-frontend.yml
  .github/workflows/ci-server.yml
  .github/workflows/push_dockerhub.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/README.md
  server/README.md
  server/src/routes/expenseShare.routes.ts
Labels: enhancement, setup-workflow

#223 End date picker should start from startdate + 1 day
  frontend/app/trips/[tripId]/sections/Overview/TripHeader.tsx
  frontend/app/trips/create/page.tsx
Labels: enhancement, Feature - Trip Dashboard

#227 222 disable edit for trip header when trip is ongoing
  frontend/app/trips/[tripId]/sections/Overview/TripHeader.tsx
  frontend/components/TripCard.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: enhancement, Feature - Trip Dashboard, Presentation

#225 Exclude non deletable members from the selectable list in Members page
  frontend/app/trips/[tripId]/sections/TripMembers/index.tsx
Labels: bug, Presentation

#237 229 account management and update password page
  frontend/app/account/page.tsx
  frontend/app/login/AuthForm.tsx
  frontend/app/login/messages.ts
  frontend/app/update-password/page.tsx
  frontend/components/navbar/Navbar.tsx
  frontend/middleware.ts
Labels: Feature - Authentication and Management, Presentation

#238 61 create UI for polls (Non-functional)
  frontend/app/not-found.tsx
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Dates.tsx
  frontend/app/trips/[tripId]/sections/Destinations.tsx
  frontend/app/trips/[tripId]/sections/Polls.tsx
  frontend/app/trips/[tripId]/sections/Polls/CreatePollDialog.tsx
  frontend/app/trips/[tripId]/sections/Polls/PollItem.tsx
  frontend/app/trips/[tripId]/sections/Polls/PollList.tsx
  frontend/app/trips/[tripId]/sections/Polls/constants.ts
  frontend/app/trips/[tripId]/sections/Polls/index.tsx
  frontend/app/trips/[tripId]/sections/Polls/styled.ts
  frontend/app/trips/[tripId]/sections/Polls/types.ts
Labels: Feature - Chatting and Voting, Presentation

#226 UI expense share breakdown
  frontend/app/trips/[tripId]/sections/Expenses/AllExpenses.tsx
  frontend/app/trips/[tripId]/sections/Expenses/ExpenseBreakdown.tsx
  frontend/app/trips/[tripId]/sections/Expenses/MemberOwedCard.tsx
  frontend/app/trips/[tripId]/sections/Expenses/index.tsx
  frontend/stores/expense-share-store.ts
  frontend/stores/trip-store.ts
Labels: Feature - Group Expense Tracker, Presentation

#257 244 - Implement create Poll Functionality
  frontend/app/trips/[tripId]/sections/Polls/CreatePollDialog.tsx
  frontend/app/trips/[tripId]/sections/Polls/PollItem.tsx
  frontend/app/trips/[tripId]/sections/Polls/PollList.tsx
  frontend/app/trips/[tripId]/sections/Polls/constants.ts
  frontend/app/trips/[tripId]/sections/Polls/index.tsx
  frontend/app/trips/[tripId]/sections/Polls/types.ts
  frontend/utils/dateFormatter.ts
Labels: Feature - Chatting and Voting, Presentation

#260 245 246 259 Complete polls functionality
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Overview/PollsSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/index.tsx
  frontend/app/trips/[tripId]/sections/Polls/CreatePollDialog.tsx
  frontend/app/trips/[tripId]/sections/Polls/PollItem.tsx
  frontend/app/trips/[tripId]/sections/Polls/PollList.tsx
  frontend/app/trips/[tripId]/sections/Polls/constants.ts
  frontend/app/trips/[tripId]/sections/Polls/index.tsx
  frontend/app/trips/[tripId]/sections/Polls/styled.ts
  frontend/app/trips/[tripId]/sections/Polls/types.ts
  frontend/stores/poll-interaction-store.ts
  frontend/stores/polls-store.ts
  server/prisma/migrations/20250306163250_add_cascade_delete_to_polls/migration.sql
  server/prisma/schema.prisma
Labels: Feature - Chatting and Voting, Presentation

#258 Fix invitation page to show invited user
  frontend/app/invite/[token]/InviteClientComponent.tsx
Labels: bug

#264 72 create interactive map component
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Activities.tsx
  frontend/app/trips/[tripId]/sections/Activities/index.tsx
  frontend/app/trips/[tripId]/sections/Itinerary.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/index.tsx
  frontend/app/trips/[tripId]/sections/Maps/InteractiveMap.tsx
  frontend/app/trips/[tripId]/sections/Maps/index.tsx
  frontend/app/trips/[tripId]/sections/PackingList.tsx
  frontend/app/trips/[tripId]/sections/PackingList/index.tsx
  frontend/app/trips/[tripId]/sections/Stays.tsx
  frontend/app/trips/[tripId]/sections/Stays/index.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Feature - Map and Location, Presentation

#262 57 create endpoints or services to handle sendingreceiving messages
  frontend/app/invite/[token]/InviteClientComponent.tsx
  frontend/app/trips/[tripId]/sections/Expenses/AllExpenses.tsx
  frontend/app/trips/[tripId]/sections/Expenses/ExpenseBreakdown.tsx
  frontend/app/trips/[tripId]/sections/Expenses/MemberOwedCard.tsx
  frontend/app/trips/[tripId]/sections/Expenses/index.tsx
  frontend/app/trips/[tripId]/sections/Overview/TripHeader.tsx
  frontend/components/TripCard.tsx
  frontend/stores/expense-share-store.ts
  server/package-lock.json
  server/package.json
  server/src/controllers/message.controller.ts
  server/src/db/mongo.ts
  server/src/middleware/message.validators.ts
  server/src/models/message.model.ts
  server/src/routes/appRouter.ts
  server/src/routes/message.routes.ts
  server/src/server.ts
  server/src/tests/unit/message.tests/message.controller.test.ts
  server/src/tests/unit/message.tests/message.validators.test.ts
  server/src/utils/errorHandlers.ts
Labels: Feature - Chatting and Voting, Business, Persistence

#269 253 create UI for chat window and member
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/chat/Chat.tsx
  frontend/public/dark-mode.jpg
  frontend/public/light-mode.jpg
  frontend/stores/trip-store.ts
Labels: Feature - Chatting and Voting

#271 Throw error if duplicate options have been filled in the Poll creation
  frontend/app/trips/[tripId]/sections/Polls/CreatePollDialog.tsx
Labels: Feature - Chatting and Voting, Presentation

#273 Bug fixes minor improvements
  frontend/app/dashboard/page.tsx
  frontend/app/trips/[tripId]/sections/Expenses/AllExpenses.tsx
  frontend/app/trips/[tripId]/sections/Expenses/ExpenseBreakdown.tsx
  frontend/app/trips/[tripId]/sections/Expenses/MemberOwedCard.tsx
  frontend/app/trips/[tripId]/sections/Overview/TravelSquad.tsx
  frontend/app/trips/[tripId]/sections/Polls/CreatePollDialog.tsx
  frontend/app/trips/[tripId]/sections/Polls/PollItem.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/MemberCard.tsx
  frontend/app/trips/[tripId]/sections/TripMembers/index.tsx
  frontend/components/TripCard.tsx
  frontend/stores/trip-store.ts
  frontend/types/index.ts
  server/src/models/trip.model.ts
Labels: Presentation, cleanup

#275 268 add the option to send emojis and reactions in chat
  frontend/components/chat/Chat.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Feature - Chatting and Voting, Presentation

#274 68 notification service
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20250308203206_add_notifications/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/expense.controller.ts
  server/src/controllers/expenseShare.controller.ts
  server/src/controllers/poll.controller.ts
  server/src/cron/scheduler.ts
  server/src/interfaces/enums.ts
  server/src/server.ts
  server/src/services/notificationService.ts
  server/src/tests/unit/notificationService.test.ts
  server/src/tests/unit/utils.tests/notificationHandlers.test.ts
  server/src/utils/notificationHandlers.ts
Labels: Feature - Chatting and Voting, Business

#294 #290 - implement the endpoint for fetching user's notifications
  frontend/package-lock.json
  server/src/controllers/notification.controller.ts
  server/src/interfaces/interfaces.ts
  server/src/middleware/notification.validators.ts
  server/src/models/notification.model.ts
  server/src/routes/appRouter.ts
  server/src/routes/notification.routes.ts
  server/src/tests/unit/expense.tests/expense.validators.test.ts
  server/src/tests/unit/itineraryEvent.tests/itineraryEvent.validators.test.ts
  server/src/tests/unit/notification.tests/notification.controller.test.ts
  server/src/tests/unit/notification.tests/notification.validators.test.ts
Labels: Feature - Chatting and Voting, Business

#276 56 integrate live updates via websockets scoketio or similar
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/invite/[token]/InviteClientComponent.tsx
  frontend/app/trips/[tripId]/sections/Polls/index.tsx
  frontend/app/trips/create/page.tsx
  frontend/components/chat/Chat.tsx
  frontend/components/chat/DateDivider.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/stores/message-store.ts
  frontend/stores/trip-store.ts
  frontend/stores/user-trips-store.ts
  frontend/utils/socketClient.ts
  server/package-lock.json
  server/package.json
  server/src/controllers/message.controller.ts
  server/src/routes/message.routes.ts
  server/src/server.ts
  server/src/socketServer.ts
  server/src/tests/unit/expense.tests/expense.controller.test.ts
Labels: Feature - Chatting and Voting, Business, Persistence

#293 277 implement endpoint for updating itinerary events
  .gitignore
  server/src/controllers/itineraryEvent.controller.ts
  server/src/interfaces/interfaces.ts
  server/src/middleware/itineraryEvent.validators.ts
  server/src/models/itineraryEvent.model.ts
  server/src/routes/itineraryEvent.routes.ts
  server/src/tests/unit/itineraryEvent.tests/itineraryEvent.controller.test.ts
  server/src/tests/unit/itineraryEvent.tests/itineraryEvent.validators.test.ts
Labels: Feature - Itinerary Builder, Business

#305 Included tripId and Channel when adding to notf table
  server/src/services/notificationService.ts
  server/src/tests/unit/notificationService.test.ts
Labels: bug, Business

#304 302 integrate notifications api with UI
  frontend/app/trips/[tripId]/page.tsx
  frontend/components/navbar/Navbar.tsx
  frontend/components/navbar/NotificationsBell.tsx
  frontend/stores/user-notifications-store.ts
  frontend/utils/supabase/client.ts
Labels: Presentation

#297 281 implement endpoint for removing and adding users from planning an itinerary event
  server/src/controllers/itineraryEventAssignment.controller.ts
  server/src/middleware/itineraryEventAssignment.validators.ts
  server/src/models/itineraryEventAssignment.model.ts
  server/src/routes/itineraryEvent.routes.ts
  server/src/tests/unit/itineraryEventAssignment.tests/itineraryEventAssignment.controller.test.ts
  server/src/tests/unit/itineraryEventAssignment.tests/itineraryEventAssignment.validators.test.ts
Labels: Feature - Itinerary Builder, Business

#298 282 implement endpoint for adding notes to itinerary events
  server/src/controllers/itineraryEventNote.controller.ts
  server/src/middleware/itineraryEventNote.validators.ts
  server/src/models/itineraryEventNote.model.ts
  server/src/routes/itineraryEvent.routes.ts
  server/src/routes/itineraryEventNote.routes.ts
  server/src/tests/unit/itineraryEventNote.tests/itineraryEventNote.controller.test.ts
  server/src/tests/unit/itineraryEventNote.tests/itineraryEventNote.validators.test.ts
Labels: Feature - Itinerary Builder, Business

#299 285 implement endpoint for updating notes for itinerary events 284
  server/src/controllers/itineraryEventNote.controller.ts
  server/src/middleware/itineraryEventNote.validators.ts
  server/src/models/itineraryEventNote.model.ts
  server/src/routes/itineraryEventNote.routes.ts
  server/src/tests/unit/itineraryEvent.tests/itineraryEvent.validators.test.ts
  server/src/tests/unit/itineraryEventNote.tests/itineraryEventNote.controller.test.ts
  server/src/tests/unit/itineraryEventNote.tests/itineraryEventNote.validators.test.ts
Labels: Feature - Itinerary Builder, Business

#300 283 implement endpoint for deleting notes from itinerary events
  server/src/controllers/itineraryEventNote.controller.ts
  server/src/middleware/itineraryEventNote.validators.ts
  server/src/models/itineraryEventNote.model.ts
  server/src/routes/itineraryEventNote.routes.ts
  server/src/tests/unit/itineraryEventNote.tests/itineraryEventNote.controller.test.ts
  server/src/tests/unit/itineraryEventNote.tests/itineraryEventNote.validators.test.ts
Labels: Feature - Itinerary Builder, Business

#312 311 fix invitation logic to allow members to rejoin after they leave
  frontend/components/InviteModal.tsx
  server/src/controllers/invitee.controller.ts
  server/src/tests/unit/invite.tests/invitee.controller.test.ts
Labels: bug, Business

#320 315 view trip members in chat
  frontend/components/chat/Chat.tsx
Labels: Feature - Chatting and Voting

#316 310 integrate create event api
  frontend/app/trips/[tripId]/sections/Itinerary/EventModal.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/index.tsx
Labels: Feature - Itinerary Builder, Presentation

#324 313 chat bug fixes and enhancements
  frontend/components/chat/Chat.tsx
  frontend/components/chat/ChatInput.tsx
  frontend/components/chat/DateDivider.tsx
  frontend/utils/socketClient.ts
  server/src/socketServer.ts
Labels: bug, enhancement, Feature - Chatting and Voting

#343 Update README.md
  Documentation/api_documentation.md
  server/README.md
Labels: documentation

#342 261 - Warn user in budget ring if near or over budget
  frontend/components/trips/Overview/BudgetDonut.tsx
Labels: enhancement, Feature - Trip Dashboard, Presentation

#326 308 list view itinerary events
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/EventModal.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/DateHeader.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/ListView.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/styled.ts
  frontend/app/trips/[tripId]/sections/Itinerary/LocationAutocomplete.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/index.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/types.ts
  frontend/stores/itinerary-store.ts
Labels: Feature - Itinerary Builder, Presentation

#344 73 build UI elements for pinning and viewing locations
  frontend/app/trips/[tripId]/sections/Maps/InteractiveMap.tsx
  frontend/app/trips/[tripId]/sections/Maps/MapSearchFilter.tsx
  frontend/app/trips/[tripId]/sections/Maps/Marker.tsx
  frontend/app/trips/[tripId]/sections/Maps/MarkerCard.tsx
  frontend/app/trips/[tripId]/sections/Maps/controls/GeolocationButton.tsx
  frontend/app/trips/[tripId]/sections/Maps/controls/RadiusSlider.tsx
  frontend/app/trips/[tripId]/sections/Maps/controls/index.ts
  frontend/app/trips/[tripId]/sections/Maps/services/categories.json
  frontend/app/trips/[tripId]/sections/Maps/services/mapbox.ts
  frontend/components/chat/Chat.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Feature - Map and Location, Presentation

#351 346 implement api endpoints for map and location
  frontend/components/chat/Chat.tsx
  server/src/controllers/markedLocation.controller.ts
  server/src/interfaces/enums.ts
  server/src/interfaces/interfaces.ts
  server/src/middleware/markedLocation.validators.ts
  server/src/models/markedLocation.model.ts
  server/src/routes/appRouter.ts
  server/src/routes/markedLocation.routes.ts
  server/src/tests/unit/markedLocation.tests/markedLocation.controller.test.ts
  server/src/tests/unit/markedLocation.tests/markedLocation.validator.test.ts
Labels: Feature - Map and Location, Business

#361 84 itinerary calendar view
  frontend/app/globals.css
  frontend/app/trips/[tripId]/sections/Itinerary/CalendarView/CalendarView.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/CalendarView/Toolbar.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/EventModal.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/EventCard.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/ListView.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/index.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: Feature - Itinerary Builder, Presentation

#363 remove dependencies causing re-inits for socket
  frontend/components/chat/Chat.tsx
  frontend/stores/message-store.ts
Labels: bug, Feature - Chatting and Voting

#368 367 itinerary UI bug fixes and enhancements
  frontend/app/globals.css
  frontend/app/trips/[tripId]/sections/Expenses/AllExpenses.tsx
  frontend/app/trips/[tripId]/sections/Expenses/MemberOwedCard.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/CalendarView/CalendarView.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/EventModal.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/DeleteConfirmationDialog.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/EventCard.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/ListView.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/index.tsx
Labels: bug, enhancement, Feature - Itinerary Builder

#369 check past start date and show toast
  frontend/app/trips/[tripId]/sections/Overview/TripHeader.tsx
  server/src/controllers/trip.controller.ts
  server/src/middleware/trip.validators.ts
  server/src/tests/unit/trip.tests/trip.controller.test.ts
Labels: bug, Feature - Trip Dashboard

#372 356 chat prod bugs
  frontend/components/chat/Chat.tsx
  frontend/stores/message-store.ts
  frontend/stores/user-store.ts
  frontend/utils/socketClient.ts
Labels: bug, Feature - Chatting and Voting

#373 Dev to UAT
  frontend/components/chat/Chat.tsx
  frontend/stores/message-store.ts
  frontend/stores/user-store.ts
  frontend/utils/socketClient.ts
Labels: dev-to-uat

#374 Uat to MAIN - 356 chat prod bugs (#372)
  frontend/components/chat/Chat.tsx
  frontend/stores/message-store.ts
  frontend/stores/user-store.ts
  frontend/utils/socketClient.ts
Labels: UAT-to-MAIN

#375 added frontend deploy to gcr workflow
  .github/workflows/deploy-frontend.yml
  frontend/Dockerfile
  frontend/package.json
Labels: setup-workflow

#376 added gcloud auth and specified dockerfile location
  .github/workflows/deploy-frontend.yml
Labels: setup-workflow

#378 Added role permissions in itinerary events
  frontend/app/trips/[tripId]/sections/Itinerary/CalendarView/CalendarView.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/EventCard.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/ListView/ListView.tsx
  frontend/app/trips/[tripId]/sections/Itinerary/index.tsx
Labels: Feature - Itinerary Builder, Presentation

#365 357 integrate notification service to whatever endpoint necessary
  frontend/stores/user-notifications-store.ts
  server/src/controllers/expense.controller.ts
  server/src/controllers/expenseShare.controller.ts
  server/src/controllers/invitee.controller.ts
  server/src/controllers/itineraryEvent.controller.ts
  server/src/controllers/itineraryEventAssignment.controller.ts
  server/src/controllers/itineraryEventNote.controller.ts
  server/src/controllers/markedLocation.controller.ts
  server/src/controllers/member.controller.ts
  server/src/controllers/poll.controller.ts
  server/src/controllers/trip.controller.ts
  server/src/interfaces/enums.ts
  server/src/models/member.model.ts
  server/src/services/notificationService.ts
  server/src/tests/unit/expense.tests/expense.controller.test.ts
  server/src/tests/unit/expenseShare.tests/expenseShare.controller.test.ts
  server/src/tests/unit/invite.tests/invitee.controller.test.ts
  server/src/tests/unit/itineraryEvent.tests/itineraryEvent.controller.test.ts
  server/src/tests/unit/itineraryEventAssignment.tests/itineraryEventAssignment.controller.test.ts
  server/src/tests/unit/itineraryEventNote.tests/itineraryEventNote.controller.test.ts
  server/src/tests/unit/markedLocation.tests/markedLocation.controller.test.ts
  server/src/tests/unit/member.tests/member.controller.test.ts
  server/src/tests/unit/poll.tests/poll.controller.test.ts
  server/src/tests/unit/trip.tests/trip.controller.test.ts
  server/src/tests/unit/utils.tests/notificationHandlers.test.ts
  server/src/utils/notificationHandlers.ts
Labels: Business, Feature - Notification System

#381 add integration tests for marked locations
  server/src/tests/integration/markedLocation.test.ts
Labels: Integration-Test

#380 379 remove activities and stays redesign overview
  frontend/app/dashboard/page.tsx
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Activities/index.tsx
  frontend/app/trips/[tripId]/sections/Expenses/AllExpenses.tsx
  frontend/app/trips/[tripId]/sections/Expenses/index.tsx
  frontend/app/trips/[tripId]/sections/Overview/ExpensesSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/JourneyEssentials.tsx
  frontend/app/trips/[tripId]/sections/Overview/PollsSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/index.tsx
  frontend/app/trips/[tripId]/sections/Stays/index.tsx
Labels: enhancement, Feature - Trip Dashboard, Presentation

#382 337 implement message api integration tests
  .github/workflows/ci-server.yml
  server/Dockerfile.testdb.mongo
  server/Dockerfile.testdb.postgres
  server/package-lock.json
  server/package.json
  server/src/db/mongo.ts
  server/src/tests/integration/message.test.ts
Labels: Integration-Test

#388 387 integrate UI with map and location api endpoints clone
  frontend/app/trips/[tripId]/sections/Maps/InteractiveMap.tsx
  frontend/app/trips/[tripId]/sections/Maps/MapSearchFilter.tsx
  frontend/app/trips/[tripId]/sections/Maps/Marker.tsx
  frontend/app/trips/[tripId]/sections/Maps/MarkerCard.tsx
  frontend/app/trips/[tripId]/sections/Maps/index.tsx
  frontend/app/trips/[tripId]/sections/Maps/services/categories.json
  frontend/app/trips/[tripId]/sections/Maps/services/mapbox.ts
  frontend/app/trips/[tripId]/sections/Maps/services/markedLocations.ts
  frontend/app/trips/[tripId]/sections/Maps/utils/geolocation.ts
  frontend/package-lock.json
  frontend/package.json
  server/README.md
Labels: Feature - Map and Location, Presentation, Business

#389 Dev to UAT
  .github/workflows/ci-server.yml
  frontend/app/dashboard/page.tsx
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Activities/index.tsx
  frontend/app/trips/[tripId]/sections/Expenses/AllExpenses.tsx
  frontend/app/trips/[tripId]/sections/Expenses/index.tsx
  frontend/app/trips/[tripId]/sections/Maps/InteractiveMap.tsx
  frontend/app/trips/[tripId]/sections/Maps/MapSearchFilter.tsx
  frontend/app/trips/[tripId]/sections/Maps/Marker.tsx
  frontend/app/trips/[tripId]/sections/Maps/MarkerCard.tsx
  frontend/app/trips/[tripId]/sections/Maps/index.tsx
  frontend/app/trips/[tripId]/sections/Maps/services/categories.json
  frontend/app/trips/[tripId]/sections/Maps/services/mapbox.ts
  frontend/app/trips/[tripId]/sections/Maps/services/markedLocations.ts
  frontend/app/trips/[tripId]/sections/Maps/utils/geolocation.ts
  frontend/app/trips/[tripId]/sections/Overview/ExpensesSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/JourneyEssentials.tsx
  frontend/app/trips/[tripId]/sections/Overview/PollsSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/index.tsx
  frontend/app/trips/[tripId]/sections/Stays/index.tsx
  frontend/package-lock.json
  frontend/package.json
  server/Dockerfile.testdb.mongo
  server/Dockerfile.testdb.postgres
  server/README.md
  server/package-lock.json
  server/package.json
  server/src/db/mongo.ts
  server/src/tests/integration/message.test.ts
Labels: dev-to-uat

#390 Uat to main
  .github/workflows/ci-server.yml
  frontend/app/dashboard/page.tsx
  frontend/app/trips/[tripId]/page.tsx
  frontend/app/trips/[tripId]/sections/Activities/index.tsx
  frontend/app/trips/[tripId]/sections/Expenses/AllExpenses.tsx
  frontend/app/trips/[tripId]/sections/Expenses/index.tsx
  frontend/app/trips/[tripId]/sections/Maps/InteractiveMap.tsx
  frontend/app/trips/[tripId]/sections/Maps/MapSearchFilter.tsx
  frontend/app/trips/[tripId]/sections/Maps/Marker.tsx
  frontend/app/trips/[tripId]/sections/Maps/MarkerCard.tsx
  frontend/app/trips/[tripId]/sections/Maps/index.tsx
  frontend/app/trips/[tripId]/sections/Maps/services/categories.json
  frontend/app/trips/[tripId]/sections/Maps/services/mapbox.ts
  frontend/app/trips/[tripId]/sections/Maps/services/markedLocations.ts
  frontend/app/trips/[tripId]/sections/Maps/utils/geolocation.ts
  frontend/app/trips/[tripId]/sections/Overview/ExpensesSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/JourneyEssentials.tsx
  frontend/app/trips/[tripId]/sections/Overview/PollsSection.tsx
  frontend/app/trips/[tripId]/sections/Overview/index.tsx
  frontend/app/trips/[tripId]/sections/Stays/index.tsx
  frontend/package-lock.json
  frontend/package.json
  server/Dockerfile.testdb.mongo
  server/Dockerfile.testdb.postgres
  server/README.md
  server/package-lock.json
  server/package.json
  server/src/db/mongo.ts
  server/src/tests/integration/message.test.ts
Labels: UAT-to-MAIN

#392 Added sequence diagrams
  Documentation/SequenceDiagrams/eventNotes_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/events_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/expenseShare_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/expense_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/expense_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/invite_api_sequence_diagram.pdf
  Documentation/SequenceDiagrams/invitee_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/location_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/member_API_sequence_diagram.pdf
  Documentation/SequenceDiagrams/member_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/messages_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/notifications_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/polls_api_seq_diagram.pdf
  Documentation/SequenceDiagrams/trip_api_seq_diagram.pdf
Labels: documentation

#393 Ak patch documents
  Documentation/Acceptance_Tests.pdf
  Documentation/Test_Plan_Sprint_2.pdf
  Documentation/Test_Plan_Sprint_3.pdf
  README.md
Labels: documentation

#402 add a new workflow for security analysis
  .github/workflows/ci-security.yml
  README.md
  sonar-project.properties
Labels: security-scanner

#403 395 integrate sonarqube
  .github/workflows/ci-security.yml
  server/package.json
  sonar-project.properties
Labels: security-scanner

#400 394 implement a load test script
  .gitignore
  docker-compose.yml
  server/package-lock.json
  server/package.json
  server/src/config/prismaClient.ts
  server/src/controllers/expense.controller.ts
  server/src/db/mongo.ts
  server/src/interfaces/enums.ts
  server/src/interfaces/interfaces.ts
  server/src/middleware/authMiddleware.ts
  server/src/server.ts
  server/src/services/notificationService.ts
  server/src/tests/load/auth.ts
  server/src/tests/load/config.ts
  server/src/tests/load/runner.ts
  server/src/tests/load/scripts/build.ts
  server/src/tests/load/scripts/expense.load.test.ts
  server/src/tests/load/scripts/expenseShare.load.test.ts
  server/src/tests/load/scripts/invite.load.test.ts
  server/src/tests/load/scripts/itinerary.load.test.ts
  server/src/tests/load/scripts/markedLocation.load.test.ts
  server/src/tests/load/scripts/member.load.test.ts
  server/src/tests/load/scripts/message.load.test.ts
  server/src/tests/load/scripts/notification.load.test.ts
  server/src/tests/load/scripts/poll.load.test.ts
  server/src/tests/load/scripts/trip.load.test.ts
  server/src/tests/load/utils.ts
  server/tsconfig.json
Labels: load-test

#404 Update README.md
  server/README.md
Labels: documentation

#406 added site favicon and metadata
  frontend/app/favicon.ico
  frontend/app/layout.tsx
  frontend/public/preview.png
  frontend/public/vercel.svg
Labels: Presentation

#409 add markedLocation seq diagram
  Documentation/SequenceDiagrams/markedLocation_api_seq_diagram.pdf
  README.md
Labels: documentation

#407 upload load test reports
  README.md
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/expense.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/expense.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/expenseShare.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/expenseShare.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/invite.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/invite.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/itinerary.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/itinerary.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/markedLocation.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/markedLocation.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/member.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/member.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/message.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/message.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/notification.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/notification.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/poll.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/poll.report.html/report.html
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/trip.json
  server/src/tests/load/reports/2025-03-28T22-46-20-276Z/trip.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/expense.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/expense.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/expenseShare.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/expenseShare.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/invite.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/invite.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/itinerary.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/itinerary.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/markedLocation.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/markedLocation.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/member.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/member.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/message.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/message.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/notification.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/notification.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/poll.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/poll.report.html/report.html
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/trip.json
  server/src/tests/load/reports/2025-03-29T00-53-49-979Z/trip.report.html/report.html
  server/src/tests/load/scripts/build.ts
Labels: documentation, load-test

#413 send timezone with expiry date
  frontend/app/trips/[tripId]/sections/Polls/CreatePollDialog.tsx
Labels: bug

#412 266 implement notifications for messages
  frontend/components/chat/Chat.tsx
  frontend/components/chat/ChatHeader.tsx
  frontend/components/chat/ChatInput.tsx
  frontend/components/chat/ChatMessages.tsx
  frontend/components/chat/ChatSidebar.tsx
  frontend/components/chat/ChatWindow.tsx
  frontend/stores/chat-notification-store.ts
  frontend/stores/message-store.ts
Labels: Feature - Chatting and Voting, Presentation
